# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\T2D project\CGM data analysis\CGMformer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
